.InputCourse {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background-color: var(--lightGray);
  padding-right: 3px;
  margin: 0 auto;
}

.InputCourse-input {
  width: 100%;
  height: 100%;
  color: var(--white);
  background-color: transparent;
  font-size: 1.6rem;
  outline: none;
  border: none;
  padding: 0 50px 0 20px;
}

.InputCourse-button {
  width: 60px;
  height: 35px;
  display: grid;
  place-content: center;
  font-size: 1.6rem;
  color: var(--white);
  background-color: var(--rgbaBlack);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.InputCourse-button:hover {
  background-color: var(--purple);
}

.InputCourse-matches {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: scroll;
  background-color: var(--lightGray);
  border-radius: 10px;
  z-index: 50;
}

.InputCourse-matches li {
  list-style: none;
  font-size: 1.6rem;
  padding: 10px 15px;
  cursor: pointer;
}

.InputCourse-matches li.newBg {
  background-color: var(--rgbaBlack);
}

.InputCourse-matches li:hover {
  color: var(--white);
  background-color: var(--rgbaBlack);
}

@media (min-width: 1000px) {
  .InputCourse {
    margin: 0;
  }
}
