.MainView {
  position: relative;
  width: 95%;
  padding-top: 60px;
  margin: 10px auto;
}

.MainView-content__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
  padding: 10px 20px;
  z-index: 10;
}

.MainView-content__header-menu {
  font-size: 3rem;
  display: flex;
  align-items: center;
  color: var(--purple);
}

.MainView-content__title {
  font-size: 1.5rem;
  color: var(--white);
  text-align: center;
  background-color: var(--lightBlack);
  padding: 20px 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--rgbaBlack);
}

.MainView-content__section {
  background-color: var(--lightBlack);
  padding: 20px 10px;
  margin-bottom: 20px;
}

.MainView-content__section-filter {
  margin-bottom: 20px;
}

.MainView-content__section-courses {  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  place-items: center;
  gap: 20px;
}

@media (min-width: 1000px) {
  .MainView {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
  }

  .MainView-content {
    width: 100%;
  }

  .MainView-content__title {
    font-size: 2rem;
    text-align: left;
    padding-left: 30px;
  }

  .MainView-content__header {
    display: none;
  }

  .MainView-content__section-filter {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .MainView-content__section-courses {  
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .MainView-content__section-filter {
    display: grid;
    grid-template-columns: 40% 60%;
    place-items: center;
  }
}