.CoursesPage-proyects {  
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
}

@media (min-width: 1000px) {
  .ChallengesPage-filter {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .CoursesPage-proyects {  
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}